.body {
    background-color: dimgray;
    display: flex;
    justify-content: center;
    font-family: "Comic Sans MS", serif;
}

.template {
    background-color: burlywood;
    width: 750px;
    height: 1000px;
    display: flex;
    justify-content: center;
}

#v-navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 650px;
    height: 1000px;
}

#first {
    margin-top: 5px;
}

.h-row {
    display: flex;
    flex-direction: row;
    width: 630px;
    margin-left: 10px;
}

.header {
    padding-left: 16em;
}

.left-text {
    width: 1px;
}

.right-text {
    padding-left: 10em;
}

.right-text h6, h4{
    margin-bottom: -20px;
}

.right-text h6 {
    font-style: italic;
    font-weight: bold;
}
.right-text h4 {
    text-decoration: underline;
}